
packages/*

TestResults/*

*.suo

conLibrary/.vs
conLibrary/packages/*
conLibrary/*.suo
conLibrary/conLibrary/bin/*
conLibrary/conLibrary/obj/*
conLibrary/conLibrary/app.config

EFISA95/bin/*
EFISA95/obj/*
EFISA95/app.config

EFRailWay/bin/*
EFRailWay/obj/*
EFRailWay/app.config
EFRailWay/sql/*.sql

EFWagons/bin/*
EFWagons/obj/*
EFWagons/app.config

KIS/bin/*
KIS/obj/*

Logs/bin/*
Logs/obj/*

MetallurgTrans/bin/*
MetallurgTrans/obj/*

RailWay/bin/*
RailWay/obj/*

RailCars/bin/*
RailCars/obj/*


TransferWagons/bin/*
TransferWagons/obj/*


Test_EFRailWay/bin/*
Test_EFRailWay/obj/*

Test_TransferWagons/bin/*
Test_TransferWagons/obj/*


RWServiceArrival/.vs
RWServiceArrival/bin/*
RWServiceArrival/obj/*
RWServiceArrival/app.config

