BODY {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
}

DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

DIV#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: White;
}

    DIV#header DIV.title {
        font-size: 2em;
        padding: .6em;
    }

DIV#content {
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}

DIV#sostav {
    float: left;
    width: 8em;
    padding: .3em;
}

div#select-date {
    margin: 10px 0 10px 50px;
}

DIV.item {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

    DIV.item:first-child {
        border-top: none;
        padding-top: 0;
    }

    DIV.item H3 {
        font-size: 1.3em;
        margin: 0 0 .25em 0;
    }

    DIV.item H4 {
        font-size: 1.1em;
        margin: .4em 0 0 0;
    }

DIV.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}

    DIV.pager A {
        font-size: 1.1em;
        color: #666;
        text-decoration: none;
        padding: 0 .4em 0 .4em;
    }

        DIV.pager A:hover {
            background-color: Silver;
        }

        DIV.pager A.selected {
            background-color: #353535;
            color: White;
        }

DIV#sostav A {
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: Black;
    border-bottom: 1px solid silver;
}

    DIV#sostav A.selected {
        background-color: #666;
        color: White;
    }

    DIV#sostav A:hover {
        background-color: #CCC;
    }

    DIV#sostav A.selected:hover {
        background-color: #666;
    }

DIV#operation A {
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: block;
    text-decoration: none;
    padding: .6em;
    margin-right: 5px;
    color: Black;
    border: 1px solid silver;
    float: left;
}

    DIV#operation A.selected {
        background-color: #666;
        color: White;
    }

    DIV#operation A:hover {
        background-color: #CCC;
    }

    DIV#operation A.selected:hover {
        background-color: #666;
    }
/* table.Wagons-info 
    Информация по вагонам по данным МеталлургТранс
*/
table.Wagons-info {
    border: 1px solid #808080;
    width: auto;
    color: #000000;
    border-spacing: 1px;
    border-radius: 3px;
    background-color: #F7F6F3;
}

    table.Wagons-info th {
        border: 1px solid #000000;
        border-radius: 3px;
        color: #FFFFFF;
        border-spacing: 3px;
        background-color: #00547E;
        font-weight: bold;
        font-size: larger;
        text-align: center;
    }

    table.Wagons-info td {
        border: 1px solid #000000;
        border-radius: 3px;
        color: #000000;
        border-spacing: 2px;
        text-align: center;
    }
