@{
    ViewBag.Title = "Admin Page";
}


<h1>&lt;select&gt; popovers</h1>
<hr>
<p> Admin </p>
<form class="form form-horizontal">
    <div class="form-group m-t-4xl">
        <div class="col-xs-12">
        </div>
    </div>
</form>


